@import url(styles/header.css);

:root{
    --cor-fundo: #EBECEE;
    --branco: #FFFFFF;
    --azul:#002F52;
    --amarelo:#EB9B00;
    --preto: rgba(0,0,0,0.85);
    --cinza:#C4C4C4 ;
}

body{
    background-color: var(--cor-fundo);

}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}