@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    box-sizing: border-box; /*garantir que os elementos da classe filha não saiam do body*/
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display:flex;
    flex-direction:column;
    gap: 40px;
    width: 615px;
}

.apresentacao__conteudo_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.apresentacao_links{
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link{
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    text-align: center;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;



}
